.container {
}
button {
  margin-right: 15px
}
.navigation {
  height: 100%;
  position: fixed;
  width: 155px;
  z-index: 3;
}
.mainView {
  position: absolute;
  top: 0;
  left: 155px;
}
ul {
  list-style: none;
  padding-left: 0;
}
.itemInner {
  display: flex;
  /* justify-content: space-between; */
}
.itemInner .logo {
  width: 32px;
  height: 32px;
}
.itemMain {
  margin-left: 20px;
  margin-bottom: 20px;
}
.controls .add {
  margin-right: 300px;
}
.items .itemInner{
  position: relative;
}
.btnGroup {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 40%;
  right: 12px;
}
.items .itemInner .action {
  background: #8aaaed;
  border: 0;
  border-radius: 2px;
  color: #fff;
  opacity: 0;
  margin-top: 0;
  margin-right: 8px;
  font-size: 10px;
  padding: 1px 6px;
  transition: 150ms opacity;
  cursor: pointer;
}
.items .itemInner .edit {
  right: 92px;
}
.items li:hover .itemInner {
  background-color: #f0f6fe;
  color: #555;
  cursor: pointer;
}
.items li:hover .action {
  opacity: .7;
}
textarea {
  width: 100%;
  height: 200px;
}
